:root {
    --orange: #FF5C00;
    --semi-black: #37475A;
    --my-orange:#FF5C00;
  }
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding-top: 180px;
  }
  header {
    height: 200px;
    padding-top: 20px;
    /* background: #f07057; */
  }
  .main-nav,
  .main {
    position: relative;
  }
  .main-nav {
    padding:0px;
    background: var(--semi-black) !important;
    /* height: 80px; */
    z-index: 150;
    /* margin-bottom: -80px; */
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); */
  }
  .main-nav a {
    text-decoration: none;
    color: tomato;
    /* font-size:18px; */
    padding-left: 10px;
    
  }


  /* sna adding the a  */
 .sub-menu a:hover {
    background-color:var(--my-orange);
  }

.main-nav .sub-menu{
    color:#ffff;
    padding:15px 10px;
    font-size:15px;
    margin:0px;
    height:100% !important;

}
/* .main-nav .sub-menu:hover{
    background-color:orange;
   
    
    
} */

  header,
  .main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .main {
    background: #f2f2e8;
    padding: 110px 50px 50px;
    column-count: 2;
    column-gap: 40px;
  }
  /* sna  */
  
root{
    font-family:Poppins;
}

/* ===================Header================================ */
.header-fix{
 /* background-color: red; */
 width: 100%;
 height: 150px;
}
.header-fix .logo-left
{
    float:left;
    width:30%;
    /* background-color:blue; */
    height:100%;
}

.header-fix .logo-left .logo{
    width:30%;
    height:100%;
    float:left;
    /* background:red; */
    
}
.header-fix .logo-left .logo img{
    /* padding: 20px 0px; */
    width:72;
    height:82px;
    /* padding: 15px 10px; */
    margin: 15px 15px ;
}

.header-fix .logo-left .brand{
    width:70%;
    height:100%;
    float:left;
    color:var(--semi-black);
    /* background-color:green; */
}
.header-fix .logo-left .brand h1{
    font-size:25px;
    padding: 30px 10px;
    font-width:bold;
}

.header-fix .header-right
{
    float:left;
    width:70%;
    /* background-color:yellow; */
    height:100%;
}

.header-fix .header-right .top-content{
    height:50%;
    width:100%;
    /* background-color:pink; */
    float:left;
}

.header-fix .header-right .top-content{
    height:50%;
    width:100%;
    /* background-color:red;  */
}

.header-fix .header-right .top-content ul{
    /* float:left; */
    list-style-type:none;
    width: 100%;
    height:100%;
    float:right;
}

.header-fix .header-right .top-content ul li{
        text-decoration:none;
        float:right;
        height:100%;
    
    }
 /* .top-content ul li .feature{
        display:block;
       background-color:green;
        height:100%;

    } */












    /* .top-content ul li .feature .add{
        width:50px;
    }
 */


   /* .top-content ul li .feature:first-child{
        width: 250px;
    } */

    /* .header-fix .header-right .top-content ul li .feature:last-child{
        width: 50px;
    } */
    /* .header-fix .header-right .top-content ul li .contact{
        width: 150px;
    } */

    .top-content ul li .feature:first-child h2{
        font-size:20px;
     
    }
    .top-content ul li .feature:first-child p{
        font-size:16px;
      
    }

  



    .top-content ul li .feature img{
        width: 80px;
        height: 80px;

    }
   
    .top-content ul li .feature .icon{
        float:left;
        width:30%;
        height:100%;
        /* background-color:blue; */
    }





    .header-fix .header-right .buttom-content{
        float:right;
        /* background-color:red */
        width:100%;
        height:100%;
    }


.top-content .top-feed{
    /* background-color:green; */
    width:250px;
    float:right;
    height:100%;
}


.top-content .top-feed:last-child
{
    width:300px;
    /* background-color:orange; */
}
.top-content .top-feed:last-child .txt{
    width:80%;
}
.top-content .top-feed:last-child .icon{
    width:20%;
}
.top-content .top-feed:last-child .icon{
 
    padding: 10px 5px;

}
/* 
.top-content .top-feed:nth-child(2) .txt{
    width:80%;
}
.top-content .top-feed:nth-child(2) .icon{
    width:20%;
} */
.top-content .top-feed:nth-child(2) .icon{
 
    padding: 10px 5px;

    
}


.top-content .top-feed:first-child .txt{
    width:75%;
}
.top-content .top-feed:first-child .icon{
    width:25%;
}
.top-content .top-feed:first-child .icon{
 
    padding: 10px 5px;

}




.top-content .top-feed:nth-child(2)
{
    width:200px;
    /* background-color:pink; */
}
.top-content .top-feed .icon{
    float:left;
    width:30%;
    height:100%;
    /* border:solid 2px yellow; */
    /* background-color:blue; */
    padding: 10px 15px;

    
}



.top-content .top-feed .icon .ic{
    padding:5px;
    width:50px;
    height:50px;
    border:solid 1px var(--semi-black);
    color:var(--semi-black);

}

.top-content .top-feed .txt{
    float:left;
    height:100%;
    width:70%;
}
.top-content .top-feed .txt h2{
    color:var(--semi-black);
    font-size:18px;
    margin:0px;
}
.top-content .top-feed .txt p{
    color:var(--semi-black);
    font-size:14px;
    margin:0px;
    }


    /* Search box  */

    .header-fix .header-right .buttom-content form{
        display: flex;
        float:right;
        margin-top:15px;
    }
    .header-fix .header-right .buttom-content form select{
        height: 45px;
        width: 150px;
        outline: none;
        border: 2px solid var(--semi-black);
        font-size: 15px;
        padding: 0px 2px;
    }
    .header-fix .header-right .buttom-content form select .myOP{
        background-color:yellow;
        height:50px !important;    
    }

    .header-fix .header-right .buttom-content form #search{
        height: 45px;
        width: 400px;
        outline: none;
        border: 2px solid var(--semi-black);
        font-size: 15px;
        padding: 0px 2px;
    }
    .header-fix .header-right .buttom-content form label .searchI  {
        height: 45px;
        width: 50px;
        padding:5px;
        text-align: center;
        line-height: 4rem;
        font-size: 25px;
        cursor: pointer;
        background-color:var(--semi-black);
        color: #fff;
    }
    .header-fix .header-right .buttom-content form label .searchI:hover{
        color: yellow;
    }
    /* .header-fix .header-right .buttom-content form #search:focus{
        border:2px solid orange;
    } */
    

    /* sub heder dropdown */
    .dropdown.show:hover>.dropdown-menu
{
    display: block;
}
.dropdown-item{
    background:red;
    
}
.dropdown-item:hover
{
    background-color: var(--semi-black);
}

.dropdown.show{
 position:relative;
}
.dropdown.show .dropdown-menus{
    display:none;
    /*  */
    background:#ffff;
    position:absolute;
    margin-top:17px;
    transition:0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.dropdown.show .dropdown-menus .sna{
    padding:10px 20px;
    min-width:150px;
    color:var(--semi-black);
}
.dropdown.show .dropdown-menus .sna:hover{
    /* padding:10px 20px; */
    background-color:var(--my-orange);
    color:#ffff;
}
.main-nav .sub-menu:hover .dropdown-menus{
    
    display:block;
}


/* ================Footer Content====================== */
.content-footer{
    background-color:var(--semi-black);
}
.copy-right{
    height:50px;
    background-color:#131A22;
    /* margin:auto; */
    text-align:center;
    padding:10px 0px;
}
.copy-right p{
    /* padding:20px 0px; */
   color:#fff;
}


.quick-menu{
    padding: 30px 30px;
}
.quick-menu .head{
    color:#ffffff;
    text-transform: uppercase;
    font-size:28px;
    font-weight:bold;
}

.quick-menu ul{
    padding:0px;
    list-style-type:none;
}
.quick-menu ul li a{
    text-decoration:none;
    color:#ffffff;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
   
}
.quick-menu ul li a:hover{
   
    /* text-decoration:underline; */
    letter-spacing:2px;
    color:#fff;
}

.quick-menu  .about-card{
    height:50px;
    padding:10px 0px;
}
.quick-menu  .about-card .icon{
    width:13%;

    float:left;
    /* background-color:yellow; */
    height:100%;
}
.quick-menu  .about-card .txt{
    width:80%; height:100%;
    float:left;
    /* background-color:green; */
}

.about-card  .icon{
    padding:0px 0px;
}
.about-card  .icon .ic{
    padding:6px;
    width:35px;
    height:35px;
    border:solid 1px #fff;
    color:#fff;

}

.about-card .txt{
    float:left;
    height:100%;
    width:85%;
}
.about-card  .txt h2{
    color:#fff;
    font-size:18px;
    margin:0px;
}
.about-card  .txt p{
    color:#fff;
    font-size:14px;
    margin:0px;
    }




/* ================ EndFooter Content====================== */